.todo{
    box-sizing: border-box;
    position: relative;
    width: 336px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
}
.container{
    width: 80% ;
    margin: 10% auto ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-header{
    width: 336px;
    height: 40px;
    margin:0 auto;
    background: #FFDC40;
    border-top: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.todo-header{  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 33px;
    line-height: 30px;
    /* text-align: center; */
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-top: 8%;
}
.for-filter img{
    display: inline-block;
 
}
.for-filter{
    width: 76%;
    margin: 5% auto;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    
}
.filter-ascç .filter-desc{
    display: block;
}
.todo-input{
    width: 286px;
    height: 40px;
    padding: 5px;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #C4C4C4;
}
.inputElement{
    font-size: 20px;
    width: 286px;
}
input{
    border: none;
    outline: none;
}
.delete-icon{
    cursor: pointer;
}
.delete-icon:hover{
    fill: #833AE0;
}
.button{
    text-align: center;
    margin-bottom: 3%; 
}
.button img{
    width: 200px;
    height: 50px;
    margin-top: 5%;
    cursor: pointer;
}
button {
    border: none;
    background-color: white;
}
.addTodo{
    width: 286px;
    padding: 5px;
    margin: 5% auto;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;  
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: none;
}